mixin alert(time)
  if message && message.length > 0
    div(
      class="alert alert-success"
      show-alert
      data-time=time
      close-alert
    ) #{message}
  if messages.error && messages.error.length > 0
    div(
      class="alert alert-danger"
      show-alert
      data-time=time
    ) #{messages.error}
